.current-temp {
    line-height: 64px;
}

.current-temp img {
    width: 64px;
    height: 64px;
}

.current-location-description {
    font-size: 15px;
    text-align: left;
}

h2 {
    padding-left: 50px;
}

.current-weather-row {
    padding-top: 25px;
}

a {
    text-decoration: none;
}

.active,
.active:hover {
    color: #212529;
    cursor: default;
}